node_modules/
.vscode/
.vercel/
erp_home_module/erp_purchase/erp_material_order_request_create.html
erp_home_module/erp_purchase/erp_mot_List.html
erp_home_module/erp_purchase/erp_mto_creation.html
erp_home_module/erp_purchase/erp_mto_details.html
erp_home_module/erp_purchase/erp_mto_pending_approval_create.html
erp_home_module/erp_purchase/erp_mto_pending_approvaol_detail.html
erp_home_module/erp_purchase/erp_pending_approval_create.html
erp_home_module/erp_purchase/erp_po_create_purchase_order.html
erp_home_module/erp_purchase/erp_po_detail_purchase_order.html
erp_home_module/erp_purchase/erp_po_detail_purchase_order_domestic.html
erp_home_module/erp_purchase/erp_po_detail_purchase_order_import.html
erp_home_module/erp_purchase/erp_po_detail_purchase_order_ropo.html
erp_home_module/erp_purchase/erp_MTO_Pending_Approval_Details.html
erp_home_module/erp_purchase/erp_MTO_Pending_approval_list.html
erp_home_module/erp_estimation/Activity_Schedule.html

