/* Event css start */
:root {
  --body-bg-color: #ffffff;
  --red: #8b0203;
  --lightred: #9e2c2d;
  --black: #000000;
  --light-green: #8ed7c6;
  --grey: #3a3a33;
  --light-grey: #8692a6;
  --text-color: #084236;
  --skyblue: #f1f7ff;
  --filterBorder: #e2e8f0;
  --eventD_border: #eeeeee;
  --eventD_placeholder: #94a3b8;
  --input-border: #9e9e9e;
  --form-placeholder: #3a3a3a;
  --sky-blue: #e6f6ff;
  --mid-light-grey: #8a8a8a;
  --white-grey: #f8fafc;
  --blue_text: #64748b;
}
.main-div-k {
  margin-right: 70px;
}
.event-parent {
  margin-bottom: 30px;
}
.event-img1 {
  height: 10px;
  width: 10px;
  margin: 0 5px 4px 0;
}
.event-img2 {
  height: 12px;
  width: 12px;
  margin: 0 6px 4px 0;
}
.event-btn1 {
  background-color: var(--red);
  color: var(--body-bg-color);
  padding: 4px 40px;
  border-radius: 6.19px;
  font-size: 14px;
  font-weight: 500;
  height: 31px;
}
.event-btn1-child {
  background-color: var(--body-bg-color) !important;
  color: var(--red) !important;
  border: 1px solid var(--red);
  padding: 4px 32px;
}
.event-btn2 {
  padding: 0 10px;
  background-color: var(--red);
  border-radius: 6.19px;
  height: 31px;
}
.event-btn2 img {
  height: 16px;
  width: 16px;
}
.event-btn3 {
  background-color: var(--red);
  color: var(--body-bg-color);
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6.19px;
  height: 31px;
}
.custom-control-input:focus ~ .custom-control-label::before,
.custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:active ~ .custom-control-label::before,
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before,
.custom-control-input-green:not(:disabled):active
  ~ .custom-control-label::before {
  border-color: var(--red) !important;
}

.custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:active ~ .custom-control-label::before,
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before,
.custom-control-input-green:not(:disabled):active
  ~ .custom-control-label::before {
  background-color: var(--red) !important;
}

/* Event css end */

/* Event details start */
.eventList-parent {
  overflow-y: auto;
  /* height: 300px; */
  height: 65vh;
  padding-right: 5px;
}
.eventList-parent::-webkit-scrollbar {
  width: 5px;
  margin-left: 5px;
}
.eventList-parent::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 5px;
}
/* .eventList-main {
  margin-top: 17px;
} */
.eventList-child1 {
  padding: 5px 27px;
  background-color: var(--red);
  display: flex;
  color: var(--body-bg-color);
  height: 29px;
  font-size: 12px;
  border-radius: 12px 12px 0px 0px;
}
.eventList-time {
  letter-spacing: 1px;
}
.eventList-child2 {
  background-color: var(--skyblue);
  padding: 9px 17px;
  border-radius: 12px 0px 12px 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 10px;
}
.eventList-p1 {
  font-size: 12px;
  font-weight: 500;
}
.eventList-p2 {
  font-size: 14px;
  font-weight: 600;
}
.eventList-p3 {
  font-size: 15px;
  font-weight: 600;
  background-color: var(--body-bg-color);
}
.go-shadow-k {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 10px;
}
/* Event details end */

/* Filter modal css start */
.modal-title {
  font-weight: 700;
  font-size: 21px;
}
.modal.right .modal-dialog {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  margin: 0;
  width: 350px;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}
.modal.fade.right .modal-dialog {
  transform: translate3d(100%, 0, 0);
  transition: transform 0.3s ease-in-out;
}

.modal.fade.right.show .modal-dialog {
  transform: translate3d(0, 0, 0);
}

.btn-close {
  --bs-btn-close-color: #000;
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-left' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0'/%3e%3c/svg%3e");
  --bs-btn-close-opacity: 1.5;
  /* --bs-btn-close-hover-opacity: 0.75; */
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgb(255, 255, 255);
  --bs-btn-close-focus-opacity: 1;
  --bs-btn-close-disabled-opacity: 0.25;
  --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: var(--bs-btn-close-color);
  background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: var(--bs-btn-close-opacity);
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0) !important;
}
.resetCSS {
  color: var(--red);
  font-weight: 500;
  font-size: 13px;
}
.modal-p {
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 8px 10px;
}
.modal-search {
  width: 70%;
  border: 1.5px solid var(--filterBorder);
  border-radius: 5px;
  margin: 0 10px;
  padding: 3px 8px;
}
input.modal-search::placeholder {
  /* color: #94a3b8 !important; */
  color: var(--eventD_placeholder);
  font-weight: 400;
}

.modal-search-btn {
  background-color: var(--red);
  color: var(--body-bg-color);
  font-size: 17px;
  border-radius: 5px;
  padding: 0 15px;
}

.modal-search-2 {
  width: 95%;
}
.modal-switch {
  height: 20px !important;
  width: 40px !important;
  border: 1px solid var(--black);
}

/* Filter modal css end */

/* Event css end  */

/* Event Details start */
.eventD-main {
  border: 1.5px solid var(--eventD_border);
}
input.eventD-main::placeholder {
  color: var(--eventD_placeholder);
}
.eventD-top {
  border-bottom: 1px solid var(--red);
}
.eventD-forms {
  width: 175px;
  height: 30px;
  padding: 2px 5px 5px 5px;
  border: 1px solid var(--red);
  border-radius: 4px;
}
select:required:invalid {
  color: var(--form-placeholder);
  font-size: 14px;
}
.eventD-date {
  border: 1px solid var(--light-grey);
  width: 200px;
  height: 30px;
  border-radius: 4px;
  margin-top: 8px;
}
.input-with-icon {
  position: relative;
}
.icon {
  position: absolute;
  right: 10px;
  top: 50.5%;
  transform: translateY(-50%);
  width: 15px;
  height: 16px;
}
.event-btn3 a{
  color: var(--body-bg-color);
}
.eventD-formsP {
  color: var(--input-border);
  font-weight: 400;
  font-size: 14px;
  margin: 5px 0 0 2px;
}
/* Event Details end */

/* evet_BuyEvents start */
.buyEvent-forms {
  border: 1px solid var(--input-border);
}
.buyEvent-th {
  width: 11%;
  color: var(--body-bg-color) !important;
  background-color: var(--red) !important;
  font-size: 10px;
  text-align: center;
  font-weight: 500;
  border-right: 2px solid var(--body-bg-color);
  border-bottom: 0 !important;
}
.buyEvent-td {
  font-size: 11px;
  font-weight: 400;
  border-top: 0;
  border-right: 2px solid #e5e5e5;
  text-align: center;
}
.buyEvent-mainBtn {
  border: 1px solid var(--red) !important;
  margin: 10px 5px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 11px;
  color: #000000 !important;
}
.buyEvent-mainBtn img {
  height: 12px;
  width: 12px;
  margin-bottom: 3px;
}
.buyEvent-p {
  color: var(--red);
}
/* evet_BuyEvents end */

/* Events-Details-Participants start */
.eventList-time-btn {
  background-color: var(--body-bg-color);
  font-size: 10px;
  font-weight: 500;
  border-radius: 4px;
  margin: 0 0 0 10px;
  padding: 0 10px 3px 10px;
}
.eventList-time-img {
  width: 20px;
  height: 20px;
  margin: 2px 6px 4px 0;
}
.event-participant-time {
  height: 34px !important;
}
.event-participant-cardHead {
  font-size: 13px;
  font-weight: 700;
}
.event-participant-cardBtn {
  background-color: var(--body-bg-color);
  font-size: 12px;
  font-weight: 500;
  border-radius: 4px;
  margin: 0 0 0 10px;
  padding: 2px 10px 2px 10px;
}
.event-participant-btn {
  margin: 0 10px 0 0;
  padding: 5px 0px !important;
  height: 30px;
  /* width: 119px; */
  width: 10vw;
  font-size: 12px !important;
  font-weight: 600 !important;
}
.event-participant-btn2 {
  margin: 0 10px 0 0;
  padding: 6px 20px;
  border: 1.5px solid var(--red) !important;
  font-size: 13px;
  font-weight: 500;
  height: 35px !important;
}
.event-participant-btn2-img {
  width: 20px !important;
  height: 20px !important;
}
.event-participant-btn:hover {
  border: 2px solid var(--red) !important;
}
.event-participant-btn:active {
  background-color: var(--red);
  color: var(--body-bg-color);
}
.event-participant-search {
  height: 22px !important;
  font-size: 13px;
  padding: 0 10px;
}
.event-participant-search-in {
  width: 20%;
  border: 1px solid var(--light-grey);
  background: url(../erp_event_module/img/search-dark.svg);
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-size: 6%;
  background-position-y: center;
  border-radius: 4px;
  padding: 2px 27px 2px 10px;
  font-size: 13px;
}
.event-participant-search-in[type="search"]::-webkit-search-cancel-button {
  display: none;
}
.event-participant-select {
  padding: 2px 5px;
}
.event-participant-select:required:invalid {
  font-size: 13px !important;
}
.event-participant-select,
option {
  color: var(--red);
}
.participant-icon {
  width: 13px;
  height: 14px;
}

/* end */
.participant-table {
  font-weight: 400;
  padding-left: 54px;
  font-size: 13px;
}
.participant-table2 {
  text-decoration: none !important;
  font-size: 13px;
  color: #000;
  font-weight: 500;
}
.participants-table {
  overflow-y: auto;
  /* height: 300px; */
  height: 45vh;
  padding-right: 5px;
}
.participants-table::-webkit-scrollbar {
  width: 5px;
  margin-left: 5px;
}
.participants-table::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 5px;
}
.table-top-list {
  padding-left: 60px;
}
.download-reportBtn {
  padding: 5px 27px;
  font-size: 13px;
  margin: 0 20px 0 0;
}
/* Events-Details-Participants end */

/* Events-Details-Price trends start */
.priceTrends-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: var(--red);
  color: var(--body-bg-color);
  font-size: 15px;
}

.priceTrends-list-main::-webkit-scrollbar {
  width: 5px;
  margin-left: 5px;
}
.priceTrends-list-main::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 5px;
}
.priceTrends-list-parent {
  display: flex;
  margin-top: 20px;
}

.priceTrends-list-child {
  padding: 10px 131px 10px 10px;
}
.pageChange {
  position: fixed !important;
  bottom: 0;
  width: 100%;
  background-color: var(--body-bg-color);
  left: 0px;
  padding-right: 45px;
}
/* .pagechange-child {
   width: 130px;
} */
.pagechange-child-a {
  color: var(--black) !important;
  font-size: 12px !important;
  font-weight: 500;
  text-align: center;
}
.pageChangeIMG {
  height: 10px;
  width: 10px;
}
/* Events-Details-Price trends end */

/* Event details setting start */
.event-setting-parent {
  height: 78vh;
  overflow-y: auto;
}
.event-setting-parent::-webkit-scrollbar {
  width: 5px;
  margin-left: 5px;
}
.event-setting-parent::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 5px;
}
.setting-link {
  color: var(--black) !important;
  padding: 4px 20px !important;
  border: 0 0 1px solid var(--black) 0 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.setting-link.active {
  border-bottom: 2px solid var(--red) !important;
}
.event-setting-trMain {
  width: 100%;
  display: flex;
  /* padding: 5px 0; */
  margin-bottom: 10px;
}

.event-setting-child {
  width: 50% !important;
  padding: 0 20px 0 0 !important;
}
.event-settingChild-1 {
  display: flex !important;
  align-items: flex-start;
  padding: 0 !important;
}
.event-setting-p1 {
  font-size: 15px;
  font-weight: 400;
}
.event-setting-p2 {
  font-size: 13px;
  width: 55%;
}
.event-setting-radioP {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0 !important;
  width: 50%;
}
.eventSetting-radio {
  accent-color: var(--red);
}
/* Switch css */
.form-switch .form-check-input {
  height: 18px;
}
/* switch css */
/* Event details setting end */

/* Event view by product start */

.main-scroll-div::-webkit-scrollbar {
  width: 5px;
  margin-left: 5px;
}
.main-scroll-div::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 5px;
}
.viewBy-main {
  margin: 1.5rem 0.1rem 0 0rem !important;
  display: flex;
  justify-content: space-between;
}
.viewBy-header {
  display: flex;
}
.viewBy-headerForm {
  height: 27px;
  padding: 2px 7px 3px 7px;
  border: 1px solid var(--red);
  border-radius: 4px;
  font-size: 12px !important;
  font-weight: 500;
  margin-right: 10px;
}
.buyEvent-forms-img {
  height: 10px;
  width: 10px;
}
.viewBy-zoom {
  display: flex;
  margin-left: 16px;
}
.viewBy-zoomIN,
.viewBy-zoomOUT {
  border: 1px solid var(--light-grey);
  padding: 7px 10px 5px 10px;
  height: 27px;
  width: 36px;
}
.viewBy-zoomIN {
  border-radius: 10px 0 0 8px;
  border-right: 0 !important;
}
.viewBy-zoomOUT {
  border-radius: 0px 8px 8px 0;
}
.viewBy-zoomIN:active,
.viewBy-zoomOUT:active {
  background-color: var(--light-grey);
}
.viewBy-headerFormP {
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 0 10px;
}
.viewBy-main-child2 {
  display: flex;
  align-items: center;
}
.viewBy-main-child2P {
  font-size: 12px;
  font-weight: 400;
  margin: 0 5px 0 0;
}
.viewBy-main-child2-child {
  width: 48px;
  height: 27px;
  border-radius: 7px;
}
.viewBy-main-child2-child1,
.viewBy-main-child2-child2,
.viewBy-main-child2-child3,
.viewBy-main-child2-child4 {
  width: 48px;
  height: 27px;
  border-radius: 7px;
  margin: 0 8px 0 0;
  text-align: center;
  font-size: 15px;
  padding-top: 2px;
}

.viewBy-main-child2-child1 {
  background-color: var(--grey);
  color: var(--body-bg-color);
}

.viewBy-main-child2-child2 {
  background-color: var(--sky-blue);
  color: var(--black);
}

.viewBy-main-child2-child3 {
  background-color: var(--white-grey);
  color: var(--black);
}

.viewBy-main-child2-child4 {
  background-color: var(--mid-light-grey);
  color: var(--body-bg-color);
}

.viewBy-main-child2-child1-img,
.viewBy-main-child2-child2-img,
.viewBy-main-child2-child3-img,
.viewBy-main-child2-child4-img {
  margin: 0 4px 4px 0;
  height: 13px;
}
/* Event view by product table start */
.viewBy-mainTable {
  width: 100%;
  margin-top: 24px;
}
.viewBy-tHead-heading {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
.viewBy-tHead-heading-child {
  height: 33px;
  width: 36px;
  border: 1px dashed var(--black);
  background-color: var(--input-border);
  border-radius: 8px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin-right: 10px;
}
.viewBy-tHead-heading-child-span {
  display: flex;
  align-items: center;
  margin: 5px 0 0 3px;
}
.viewBy-tHead-heading-img {
  margin-right: 4px;
}
.viewBy-tHead-heading-p1 {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  width: 130px;
}
.viewBy-tHead-heading-p2 {
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  color: var(--blue_text);
}
.viewBy-tHead-heading-img2 {
  height: 25px;
  width: 20px;
}
.viewBy-tHead-btn {
  width: 150px;
  border: 1px solid var(--black);
  border-radius: 7px;
  width: 223px;
  margin-top: 25%;
  padding: 1.5px 0;
  font-size: 13px;
  font-weight: 500;
}
.viewBy-tHead-btn2 {
  margin-top: 8%;
}
.viewBy-bid-main {
  display: flex;
  justify-content: space-around;
  padding: 10px 0 10px 10px;
}
.viewBy-bid-main-p {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  display: flex;
  align-items: center;
}
.viewBy-tBody1-p {
  font-size: 13px;
  font-weight: 700;
  border: 1px solid var(--filterBorder);
  padding: 5px 8px;
}
.viewBy-tBody1-1,
.viewBy-tBody1-2,
.viewBy-tBody1-3 {
  font-size: 13px;
  font-weight: 700;
  border: 1px solid var(--filterBorder);
  padding: 5px 8px;
}
.viewBy-tBody1-1-active {
  font-size: 13px;
  font-weight: 700;
  border: 1px solid var(--filterBorder);
  padding: 5px 8px;
  background-color: var(--filterBorder)!important;
}
.viewBy-tBody1-R {
  color: var(--blue_text);
  font-size: 14px;
  font-weight: 700;
  padding-right: 3px;
}
.viewBy-tBody2 {
  display: flex;
}
.viewBy-collapT1 {
  padding: 5px!important;
  background-color: var(--body-bg-color)!important;
  font-size: 14px!important;
  color: var(--black)!important;
  font-weight: 500;
}
.viewBy-collapT1-span {
  color: var(--light-grey)!important;
  padding-right: 10px;
}
.viewBy-tBody2-p {
  font-size: 13px;
  font-weight: 600;
  border: 1px solid var(--filterBorder);
  padding: 5px 8px;
}
/* Event view by product table end */
/* Event view by product end */
