:root {
    --body-bg-color: #dce4e3;
    --red: #8b0203;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --text-color: #084236;
  }

  /*reset*/
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



  main {
   
        height: 100%;
        width: 100%;
        overflow-x: hidden;

  }

  section.home__body {
    display: flex;
}
  button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }
  .navbar-toggler{
    border-radius: 7px !important;
    padding: 0.6rem 1rem !important;
            background-color: #ffffff !important;

  }
  .navbar-toggler:focus{
    box-shadow: 0 0 0 0 !important;

  }
  
a{
    text-decoration: none;
}
  
  

  input {
    border: none;
    outline: none;
    background: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  li {
    list-style: none;
  }

  /*body*/
  body {
    background-color: var(--body-bg-color);
    color: var(--text-color);
    width: 100vw;
    height: auto;
    font-family: "Poppins", sans-serif;
    position: relative;
  }

  /*navbar*/
  .navbar {
    z-index: 2;
    width: 7%;
    background-color: var(--red);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
  }

  .navbar .navbar-container {
    padding: 1rem;
  }

  /*logo*/
  .navbar .navbar-container .navbar-logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.7rem;
    /* padding-left: 1rem; */
  }

  .navbar .navbar-container .navbar-logo-div .navbar-toggler {
    transition: 0.2s ease-in-out;
  }

  .navbar .navbar-container .navbar-logo-div .navbar-toggler i {
    font-size: 1rem;
  }

  .navbar .navbar-container .navbar-logo-div .navbar-toggler:hover {
    color: var(--light-grey);
  }

  .navbar .navbar-container .navbar-logo-div .navbar-logo-link {
    display: none;
  }

  /*search*/
  .navbar .navbar-search {
    width: 100%;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-color: var(--light-green);
    background-position: center;

    margin: 0 auto;
    /* background-position: 1rem 0.7rem; */
    padding: 1rem;
    /* padding-left: 3rem; */
    border-radius: 10px;
    margin-bottom: 1.2rem;
  }

  #icon-search {
    position: absolute;
    color: var(--red);
    font-size: 1.2rem;
    top: 4.5rem;
    left: 1.4rem;
  }

  .navbar .navbar-search::placeholder {
    visibility: hidden;
    opacity: 0;
  }

  /*menu list*/
  .navbar .menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    padding-left: 0px !important;
  }

  .navbar .menu-list .menu-item {
    width: 100%;
  }

  .navbar .menu-list .menu-item .menu-link {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    transition: 0.2s ease-in-out;
    font-weight: 500;
  }

  .navbar .menu-list .menu-item .menu-link .menu-link-text {
    display: none;
    color: inherit;
  }

  .navbar .menu-list .menu-item .menu-link:hover,
  .navbar .menu-list .menu-item .menu-link:hover {
    color: var(--light-grey);
  }

  /*user information div*/
  .navbar .user-container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto 2rem auto;
    border-radius: 7px;
  }

  .navbar .user-container .user-info {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.5rem;
    /* display: none; */
  }

  .navbar .user-container .user-info i {
    font-size: 1.2rem;
  }

  .navbar .user-container .user-info .user-details .user-name {
    font-size: 1.1rem;
    font-weight: light;
  }

  .navbar .user-container .user-info .user-details .user-occupation {
    font-size: 0.9rem;
    font-weight: lighter;
  }

.navbar.active .user-container .collapse-btn {
    transform: rotate(0deg);
  }
  /*navbar.active*/
  /*navbar.active navbar*/
  .navbar.active {
    width: 350px;
    max-width: 15%;
}

  /*navbar.active logo*/
  .navbar.active .navbar-container .navbar-logo-div {
    justify-content: space-between;
    padding-left: 1rem;
  }

  .navbar.active .navbar-container .navbar-logo-div .navbar-logo-link {
    display: block;
  }

  /*navbar.active search input*/
  .navbar.active .navbar-search {
    background-position: 1rem 0.7rem;
    padding: 1rem;
    padding-left: 3rem;
  }

  .navbar .user-details{
    display: none;
  }
  .navbar.active .user-details{
    display: flex;
  }
  .navbar.active #icon-search {
    top: 5.1rem;
    left: 1.6rem;
  }

  .navbar.active .navbar-search::placeholder {
    visibility: visible;
    opacity: 1;
  }

  /*navbar.active menu*/
  .navbar.active .menu-list {
    padding-left: 1rem;
  }

  .navbar.active .menu-list .menu-item .menu-link {
    justify-content: flex-start;
  }

  .navbar.active .menu-list .menu-item .menu-link .menu-link-text {
    display: inline;
  }

  /*navbar.active user container*/
  .navbar.active .user-container {
    justify-content: space-between;
    align-items: center;
  }

  .navbar.active .user-container .user-info {
    display: flex;
  }

  /*dashboard*/
  .dashboard {
    width: auto;
    height: auto;
    margin-left: 5rem;
  }

  .navbar.active + .dashboard {
    margin-left: 22%;
  }
   .collapse-btn {
    transform: rotate(180deg);
  }

  .user-details {
    color: white;
}
.header-section{
    display: flex;
    align-items: center;
}
  /*media queries*/
  @media only screen and (max-width: 870px) {
    .navbar.active {
      max-width: 27%;
    }

    .navbar.active + .dashboard {
      margin-left: 30%;
    }
  }

  @media only screen and (max-width: 670px) {
    .navbar.active {
      min-width: 100%;
    }

    .navbar .navbar-container {
      position: relative;
      width: 100%;
    }

    .navbar .navbar-search {
      position: absolute;
      border-radius: 0;
      left: 0;
    }

    .navbar .menu-item {
      position: relative;
      top: 4rem;
    }
  }

  @media only screen and (max-width: 350px) {
    .dashboard .title {
      font-size: 1.7rem;
    }
  }



  header.header {
    border-bottom: 1px solid #94949438;
    height: 10vh;
    padding: 0.5rem 1.5rem;
}
  .header .header-section{
  display: flex;
  gap: 2.5rem;
  align-items: center;

  }   

  .header .header-section .user_name h3 {
    font-size: 1rem;
    margin: 0;
    width: max-content;
}


  input.erp_search {
    border-radius: 7px !important;

    padding: 0.4rem 3rem 0.4rem 1rem;
    width: 25%;

    border: 1px solid #9E9E9E;
    background: url(/assets/icons/search-normal.svg);
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-size: 5%;
    background-position-y: center;
}

.header-icons ul{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 0;
    padding-left: 0;


}

.header-icons ul li img{

    width: 25px;
    height: auto;
    
}

.erp_search::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

svg {
  fill: rgb(255, 255, 255);
}

