* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p,
span,
div {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
:root {
  --body-bg-color: #ffffff;
  --red: #8b0203;
  --lightred: #9e2c2d;
  --black: #000000;
  --light-green: #8ed7c6;
  --grey: #3a3a33;
  --light-grey: #8692a6;
  --text-color: #084236;
}
@font-face {
  font-family: "vi-regular";
  src: url(/assets/fonts/Vi-Regular.otf);
}

@font-face {
  font-family: "vi-bold";
  src: url(/assets/fonts/Vi-Bold.otf);
}
@font-face {
  font-family: "vi-SemiBold";
  src: url(/assets/fonts/Vi-SemiBold.otf);
}
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.header-section{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}


.sec {
    gap: 2rem;
    display: flex;
}
.top-nav ul {
  gap: 1rem;
  display: flex;
  flex-direction: row;
}
.navbar:active {
    color: white !important;
    background-color: #E95420;
    height: 40px;
    border-radius: 5px;
}

.header {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: sticky !important;
    top: 0;
    background-color: white;
    z-index: 99;
}


