* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}


a{
    text-decoration: none !important;
}

@font-face {
    font-family: "vi-regular";
    src: url(/assets/fonts/Vi-Regular.otf);

  }
  
  @font-face {
    font-family: "vi-bold";
    src: url(/assets/fonts/Vi-Bold.otf);
  }
  @font-face {
    font-family: "vi-SemiBold";
    src: url(/assets/fonts/Vi-SemiBold.otf);
  }
  

.login_module {
  height: 100%;
  width: 100%;
  }

.login_bg{

    background-repeat: no-repeat;
    background-size: cover;

    background-image: url(/assets/png/login_bg.png);
  }

  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Style for the welcome message */
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Style for the form */
  form {
    width: 100%;
    max-width: 500px;
  }
  
  /* Style for form inputs */
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for the checkbox */
  .form-check-label {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }
  
  /* Style for the forgot password link */

  
  /* Style for the login button */
  .btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
  }

  .btn1 {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .btn-danger {
    background-color: #dc3545; /* Red color */
    border: none;
    color: #fff;
  }

  .login-sec {
    width: 50%;
    margin: 10px auto 8% auto;    display: flex;
    flex-direction: column;
}


.password-toggle {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    color: #007bff; /* Change color as needed */
  }


  .login-content p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 60%;
    margin: auto;
}

.form-group label{

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}


span.password-toggle i {
    color: #667085;
}

.check-forgot{
    display: flex;
    align-items: center;
}

.check-forgot {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

.form-check .form-check-input{

    border: 1px solid #667085;


}

.check-box {
    display: flex;
    gap: 8px;
}


.form-check-label {
    color: #747980;
    font-size: 14px;
}
.form-check a{

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #8B0203;
}

.form-control {
   
    padding: 0.375rem 0.75rem 0.375rem 1.5rem;
   
}

.login-sec .btn{
    background-color: #8B0203;
    color: #FFFFFF;
}

.login-sec img {
    width: 60%;
    margin: auto;
}

.login-sec h3{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.login-sec p{

    font-family: "vi-regular";

}

div#forgetPasswordContainer {
  width: 50%;
  margin: auto;
}

input#email,input#forgetEmail,input#newPassword,input#confirmPassword {
        background-repeat: no-repeat;
        padding: 0.375rem 2rem  0.375rem 2rem;
    }

input#password {

    padding: 0.375rem 2rem  0.375rem 2rem;

    
}

.lock-icon {
    width: 4% !IMPORTANT;
    cursor: pointer;
    position: absolute;
    left: 9px;
    top: 71%;
    transform: translateY(-50%);
}